html{
  block-size:0%;
}
body{
  background-color: #181818;
}
#title{
  font-weight: bolder;
  text-align: center;
  font-size: 40px;
  color:black;
}
.container-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-border{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:600px;
  width: 600px;
  background-color: red;
  border-radius: 25px;

}

.grid {
  margin-bottom: 20px;
  overflow:hidden;
  display: grid;
  height:400px;
  width: 400px;
}

.element{
  background-color: white;
  position:sticky;
  outline:1px solid rgb(156, 156, 156);;
}

.buttons{
  width: 90%;
  display:flex;
  justify-content: space-between;
  margin-bottom:10px
}

#clear-button,#grid-button,#color-button{
  background-color:#F9FAF8;
  border: none;
  padding:0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 80px;
  color:black;
  margin-bottom: 0px;
  width: 70px;
  height: 70px;
}
  
#clear-button:hover,#color-button:hover,#grid-button:hover {
    background: #1F2937;
  }

.slidecontainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 15%; /* Full-width */
  height: 25px; /* Specified height */
  background: #3882F6; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

#slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white; /* Dor background */
  cursor: pointer; /* Cursor on hover */
}

p, #valueOfSlider{
  margin-top: 20px;
  font-size: larger;
  font-weight: bolder;
}
.text{
  color:white
}
.footer {
display: flex;
justify-content: center;
background-color: #1F2937;
align-items: center;
color: #F9FAF8;
font-size: 20px;
margin-top: 20px;
}
