.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    align-items: center;
    color: #F9FAF8;
    font-size: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    margin: 30px;
    align-items: center;
    justify-content: center;
  }
  .element{
    min-height: 25px;
    min-width: 25px;
    border:1px solid black;
  }

.element:hover {
    background: yellow;
  }